{% extends 'base.html' %}


{% block topbody %}
<center>
  <h1>Multi-platform ML Workbench</h1>
</center>
<pre>
  <h1>Home <=> Data Search</h1>
</pre>
<div class="search-wrapper">
  <form action="{% url 'dtsearchrs' %}" method="POST">
    {% csrf_token %}
    <input id="search-input" placeholder="Search dataset keywords..." name="searchkey" />
    <select id="search-site" name="dtsite">
      <option value="Kaggle">Kaggle</option>
      <option value="Data.gov">Data.gov</option>
      <option value="UCI">UCI</option>
      <option value="GooglePD">GooglePD</option>
    </select>
    <button id="search-site">Search</button>
    <button id="dummy-button"></button>
  </form>
  <form action="{% url 'dtdload' %}" method="POST">
    {% csrf_token %}
    <select id="search-site" name="dtsnum">
      <option value="Select-Dataset">Dataset #</option>
      {% for item in '01234567890123456789' %}
      <option value='{{ forloop.counter }}'>{{ forloop.counter }}</option>
      {% endfor %}
      <!-- <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option> -->
    </select>
    <button id="search-site">Download</button>
  </form>
</div>
<a href="{% url 'srchprv1' %}">Back to Datasearch results</a>
{% endblock %}
{% block databodytitle %}
<h3>Labels and Counts in Dataset:
  <span style="color:blue;font-weight:bold">{{labels}}</span>
  &nbsp; Number of Items: <span style="color:blue;font-weight:bold">{{numitems}}</span>
  &nbsp; Current page: <span style="color:red;font-weight:bold">{{currpg}}</span>
  &nbsp; Dataset Location: <span style="color:blue;font-size:26px;font-weight:bold">{{dtsloc}}</span>
</h3>   
 

{% endblock %}

{% block databody %}
<div id="s-iframe">

  {% include csimdtprv %}

</div>
{% endblock %}


{% block sidebody %}
<pre>

<h2>Preview 
  Dataset</h2>  
</pre>
<form action="{% url 'dspfrm' dspwht='tblpgim' %}" method="POST">
  {% csrf_token %}
  <select id="search-site" name="lbprv">
    <option value="all">Pages</option>
    {% for item in labels %}
    <option value='{{ item }}'>{{ item }}</option>
    {% endfor %}
  </select>
  <button id="search-site" name="scroll" value="up"><</button>
  <button id="search-site" name="scroll" value="down">></button>
</form>

{% endblock %}

{% block codebody %}
<center>
  <h3>Performance Metrics</h3>
</center>
<pre>

  

      
</pre>
{% endblock %}


<!-- <html>
  <head>
    <title>Video Live Stream</title>
  </head>
  <body>
    <h1>Video Live Stream</h1>
    <img src="{% url 'video_feed' %}">
    <img src="{% url 'webcam_feed' %}">
    <img src="{% url 'mask_feed' %}">
	<img src="{% url 'livecam_feed' %}">
  </body>
</html> -->